<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Mensagens</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  
    <ion-list>
      <!-- <ng-container *ngIf="!todos || todos.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container> -->
  
      <ion-item-sliding *ngFor="let item of chatUserInteressado">

        <ion-row>
            <ion-col size="7" >
                <ion-item lines="inset" button (click)="goToChat(item.interessadoId, item.prestadorId, item.ofertaId,item.tipoOferta)">
          
                    <!-- <p>{{ item.id }}</p> -->
                    <p>Conversa - </p>
                    <p>{{item.tipoOferta}}</p>
                      
                </ion-item>
            </ion-col>
            <ion-col size="2" >
                <ion-button  (click)="avaliar(item.id, chatUserInteressado)"> Avaliar</ion-button>

            </ion-col>
        </ion-row>
        
        
        
      </ion-item-sliding>
    </ion-list>
    <ion-list>
         
        
        
      
      <ion-item-sliding *ngFor="let item of chatUserContatado">

          <ion-row>
              <ion-col size="8" >
                  <ion-item lines="inset" button (click)="goToChat(item.interessadoId, item.prestadorId, item.ofertaId, item.tipoOferta)">
            
                      <!-- <p>{{ item.id }}</p> -->
                      <p>Conversa - </p>
                      <p>{{item.tipoOferta}}</p>
                      
                        
                  </ion-item>
              </ion-col>
              <ion-col size="2" >
                  <button  (click)="avaliar(item.id,chatUserContatado)"> Avaliar</button>
  
              </ion-col>
          </ion-row>
        
        
      </ion-item-sliding>
    </ion-list>
    <!-- <p>{{item.descricao}}</p> -->
  
  </ion-content>
  