<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>alterar-demanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <ion-item>
          <ion-input required type="text" placeholder="descricao" [(ngModel)]="dem.descricao"></ion-input>
        </ion-item>
        <!-- Ainda falta fazer o carregamento de fotos
        <ion-item class="item-thumbnail-left">
          
        </ion-item> -->
      </ion-list>
      <ion-button expand="full" (click)="saveDem()" routerLink="/demanda" class="button button-positive button-block">Salvar</ion-button>


    <!-- <label class="item item-input" id="descricao">
        <span class="input-label">descrição do serviço</span>
        <ion-item>
          <ion-input required type="text" placeholder="descricao" [(ngModel)]="dem.descricao"></ion-input>
        </ion-item>    
      </label>
      <ion-button expand="full" (click)="saveDem()" routerLink="/cadastrar_demanda">Editar</ion-button> -->
</ion-content>
