<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buscar-servico"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{chatpartner.name}}</ion-title> -->
  </ion-toolbar>

</ion-header>


<ion-content #content padding id="chatPage">

  <ion-grid>
    <ion-row justify-content-end *ngFor="let chat of messageUser | sort: 'time' " class="chat" text-wrap [ngClass]="{'chat-partner' : isChatPartner(chat.senderId)}">
      <ion-col col-3>{{chat.message}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size = 8>
        <ion-input type="text" [(ngModel)]="message" placeholder="Digite a mensagem..."></ion-input>
      </ion-col>
      <ion-col size = 2>
        <ion-button ion-button block (click)="addChat()">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>