<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/rating"></ion-back-button>
        </ion-buttons>
    <ion-title>Avaliacao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  
  <ion-grid class="ion-rating-container">
    <ion-row>
      <ion-col *ngFor="let star of stars; let i = index" tappable (click) ="starClicked(i)">
        <ion-icon [name]="star"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button>Salvar</button>
</ion-content>