<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div class="logohome" text-center>
    <img src="../../../assets/logohome.png"  width="150" height="150" alt="logo">
  </div>

  
  <!-- <h1>Funcionalidades </h1> -->
  <!-- <ion-list>

    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of todos">
      <ion-item lines="inset" button [routerLink]="['/alterar-servico', item.id]">
        <ion-label>
          {{ item.Titulo }}
          <p></p>
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.Descricao }}</ion-note>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Excluir
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list> -->
  <!-- <button ion-button full routerLink="/buscar-servico" routerDirection="forward">Buscar Serviço</button>
  <p></p>
  <button ion-button full routerLink="/login" routerDirection="forward">Login</button>
  <p></p>
  <button ion-button full routerLink="/cadastrar-demanda" routerDirection="forward" >Cadastrar Demanda</button>
  <p></p>
  <button ion-button full routerLink="/cadastro-usuario" routerDirection="forward" >Cadastrar Usuario</button>
  <p></p>
  <button ion-button color="light" routerLink="/visualizar-demanda" routerDirection="forward" >Visualizar demanda</button>
  <p></p>
  <button ion-button full routerLink="/servico" routerDirection="forward" >Adicionar Serviço</button>
  <p></p>
  <button ion-button color="light" routerLink="/visualizar-usuario"routerDirection="forward">Visualizar Usuario</button>
  <p></p>
  <button ion-button color="light" routerLink="/rating"routerDirection="forward">Avaliar prestador</button>
  <p></p> -->
  
</ion-content>