
<ion-header>
  <!-- <ion-toolbar class = 'login' color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding id="signInPage">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="../../../assets/logo.png"  width="150" height="150" alt="logo">
        </div>
        <div padding>
          <ion-item>
            <ion-input type="email" placeholder="Email" [(ngModel)]="loginForm.email"></ion-input>

          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Senha" [(ngModel)]="loginForm.password"></ion-input>

          </ion-item>
        </div>
  
        <div padding>
          <ion-button size="large" (click)="loginUser()" expand="block">Entrar</ion-button>
        </div>
        <div padding>
          <a expand="block" routerLink="/cadastro-usuario">Novo Usuário</a>
          <!-- <a ion-button center large block routerLink="/cadastro-usuario">Novo Usuário</button> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  



</ion-content>