<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p> </p>
  <p> </p>
  <p> </p>
  <ion-row>
    <p>Este aplicativo foi desenvolvido para aproximar a demanda por servicos da oferta na cidade de Santarém-PA </p>
      
  </ion-row>
  <p></p>
  <p>Desenvolvedores </p>
  <ion-row justify-content-center>
      <ion-col align-self-center  >
        <ion-row>
          <img src="../../../assets/gustavo.jpeg"  width="150" height="100" alt="logo">
        </ion-row>
        <ion-row>
          <p>Gustavo Sousa</p>
  
        </ion-row>
      </ion-col> 
      <ion-col align-self-center  >
          <ion-row>
           <img src="../../../assets/rubens.png"  width="100" height="100" alt="logo">
          </ion-row>
          <ion-row>
            <p>Rubens Batista</p>

          </ion-row>
      </ion-col>
  </ion-row>
  
</ion-content>
