<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Demanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>

    <!-- <ng-container *ngIf="!demandas || demandas.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container> -->

    <ion-item *ngFor="let user of demandas">
      <ion-item lines="inset" button [routerLink]="['/detalhe_demanda', user.id]">
      <!-- <ion-item lines="inset" button > -->

        <ion-label>
          {{ user.descricao }}


          <!-- <p>{{ item.createdAt | date:'short' }}</p> -->
        </ion-label>

      </ion-item>

      <!-- <ion-item-options side="end">
        <ion-item-option (click)="remove(dem)" color="secondary">
          Excluir
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options> -->
    </ion-item>
  </ion-list>
  


</ion-content>